.main_competence{
    position: relative;
  height: 100%; 
  background-image: url(../../public/fondGris.jpg);
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  @media (min-width : 768px) {
  padding: 7em 4em;

  }

  .ligne-orange{
    
    @media (min-width : 768px) {
       margin-left: 2em;
       height: auto;
       width: 2em;
    }
}


 
  &-logo{
    margin:3em 0;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 2em;
  @media (min-width : 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


      .competence_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 2s ease;
    transform:rotate(360deg);

    @for $i from 1 through 11 {
      $delay: (1500ms / 11) * $i;
  
      &:nth-child(#{$i}) {
        animation: rotateIcon 3000ms ease-in-out $delay infinite alternate;
      }
    }

    @keyframes rotateIcon {
      0% {
        transform: translate(0, 100px) rotate(180deg);
        opacity: 0;
      }
    
      25% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
      }
    
      50% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
      }
    
      100% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
      }
    }

      
    }
  }
}
  

    
      
      

   





 
