
.main_cv{
    position: relative;
  height: 100%; 
  background-image: url(../../public//fond.avif);
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1em;
  @media (min-width : 768px) {
  padding: 5em 4em;
  }
    
  .ligne-orange{
    
    @media (min-width : 768px) {
       margin-left: 2em;
       height: auto;
       width: 2em;
    }
}

&-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    margin: 4em 0;
    @media (min-width : 768px) {
        flex-direction: row;
        
    }

    p{
        opacity: 0;
    }

    .cv_icon{
        color: #FF9538;
        width: 5em;
        
    }
}

}