.footer_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 100%;
    background-image: url(../../public/fondGris.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    
    .footer_reseau{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 4em;
        @media (min-width : 768px) {
            width: 50%;
        }
    }


    .icon_contact{
        width: 2em;
        color: #ff9538;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.5);
        }
    }

}

.footer-link{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    margin-top: 5em;
    &:hover {
        p{
        opacity: 1;
        }
    }
   
    

    p{
        font-size: 1em;
        text-decoration: none;
        color: black;
        opacity: 0;

}
}