.hero-anim_main{
    text-align:center;
    color:#555;
    font-family:'Indie Flower', cursive;
    overflow:hidden;
    font-size: 1.9em;
   
  

    transform: translate3d(0,0,0);
    @media (max-width : 400px) {
      font-size: 1.3em;

    }
    
    @media (min-width : 768px) {
    font-size: 2.5em;
    margin-top: 1.5em;
    margin-left: 1em;
    }
  }
  
  .hero-anim_div {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  .hero-anim_div:first-of-type {    
    animation: showup 7s infinite;
  }
  
  .hero-anim_div:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
  .hero-anim_div:last-of-type span {
    margin-left:-50px;
    
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }

  @keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:280px;}
    80% {opacity:1;}
    100% {opacity:0;width:280px;}
}
  @media (max-width : 400px) {
  @keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:200px;}
    80% {opacity:1;}
    100% {opacity:0;width:200px;}
}
  }


  @media (min-width : 768px) {
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:350px;}
      80% {opacity:1;}
      100% {opacity:0;width:350px;}
  }
}
  
  
  
  