

.hero-main{
    margin: 0;
    
    

    @media (min-width : 768px) {
    padding: 1em 4em;
    position: relative;
  height: 100%; 
  background-image: url(../../public//fond.avif);
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
  overflow: hidden;
    }

    .fancy {
        --offset: 10px;
        background-color: #f0f0f0;
        position: relative;
        height: 90vh;
        width: 100wh;
        max-width: 100%;
        overflow: hidden;
        box-shadow: 9px 6px 19px -5px #000000 ;
        border-radius: 100px;
        @media (min-width : 768px) {
            height: 85vh;
            }

    }
    
    .fancy::before { 
        content: '';
        background: conic-gradient(transparent 270deg, white, orange);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        aspect-ratio: 1;
        width: 100%;
        animation: rotate 2s linear infinite;
    }
    
    .fancy::after {
        content: '';
        background: inherit;
        border-radius: inherit;
        position: absolute;
        inset: var(--offset);
        height: calc(100% - 2 * var(--offset));
        width: calc(100% - 2 * var(--offset));
    }
    
    @keyframes rotate {
        from {
            transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
        }
    
        to {
            transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
        }
    }
}

.hero-after{
    background: transparent;
    position: absolute;
    inset: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    @media (min-width : 768px) {
        padding: 0 5em;
        flex-direction: row;
        align-items: center;
        
    }
    h2{
        color: black;
        font-size:2em;
        font-family:'Indie Flower', cursive;
        animation : title_apparition 3s ease-in-out forwards;
        animation-delay: 1s;
        opacity: 0;
        text-align: center;
        margin: 0;
        @media (min-width : 768px) {
            font-size: 3em;
        }
        
    }

    @keyframes title_apparition {
        50%{
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
        
    }
    
    .img_profil{
        width: 40%;
        height: auto;
        box-shadow: 9px 6px 19px -5px #000000;
        border: 2px solid black;
        border-radius: 50%;
        @media (min-width : 768px) {
            width: 50%;
            height: 50%;
            object-fit: cover;
        }
    }

.hero_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    
    }
    p{
       font-family: 'arvo',sans-serif;
       text-align: justify;
       @media (min-width : 768px) {
        font-size: 1.7em;
        margin-left: 3em;
        width: 70%;
       }
       @media (max-width : 1300px) {
        font-size: 1.1em;
        width: 90%;
       }
    }
}
    
    
.hero_icon{
    background: transparent;
    color: #FF9538;
    font-size:2em;
    margin-top: 1em;
    animation: bounce 0.35s ease infinite alternate;
    @media (min-width : 768px) {
        font-size: 4em;
        margin-top: 2em;
        
    }

}


@keyframes bounce{
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}




