.langue_main {
  padding: 0 0 0.5em 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;

    position: relative;
  height: 100%; 
  background-image: url(../../public//fond.avif);
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
  overflow: hidden;
    select{
        border-radius: 20px;
        padding: 3px;
    }
}