
.main_projets {
padding: 1em;
    position: relative;
    height: 100%;
    background-image: url(/_next/static/media/fond.818f1127.avif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
  @media (min-width : 768px) {
  padding: 1em 4em;
  }
  .ligne-orange{
    height: auto;
    width: 7em;
    @media (min-width : 768px) {
        margin-left: 4em;
        width: 10em;
    }
}

    &-div{
        background-color: #f0f0f0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 9px 6px 19px -5px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main_projet-div-filtres{
        display: flex;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
        margin: 2em 0 4em 0;

        button{
        align-items: center;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
        box-sizing: border-box;
        color: #121212;
        cursor: pointer;
        font-weight: 400;
        font-size: 1em;
        justify-content: center;
        margin: 0;
        outline: none;
        padding: 0.8em;
        text-align: center;
        transition: box-shadow .2s,-webkit-box-shadow .2s;
        border: 0;
        @media (min-width : 768px) {
            font-size: 1.3em;
        }
  
 
}

button:hover {
  box-shadow: #FF9538 0 0 0 3px, transparent 0 0 0 0;
}
             
        }
        
    

    .main_projet-div-projets{
        display: flex;
        flex-direction: column;
        gap: 2em;
        @media (min-width : 768px) {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 2em;
         padding : 3em 2em;
        }

    }

   
        .projet {
            height: auto;
            width:100%;
            @media (min-width : 768px) {
                width: 100%;
            }
        }
    
        .button-plus-moins {
              --b: 3px;  
              --s: .45em; 
              --color: #FF9538;
              
              padding: calc(.5em + var(--s)) calc(.9em + var(--s));
              color: black;
              --_p: var(--s);
              background:
                conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
                var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
              transition: .3s linear, color 0s, background-color 0s;
              outline: var(--b) solid #0000;
              outline-offset: .6em;
              font-size: 16px;
            
              border: 0;
              margin:2em 0;
            
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
              align-self: center;
            }
            
            .button-plus-moins:hover,
           .button-plus-moins:focus-visible{
              --_p: 0px;
              outline-color: var(--color);
              outline-offset: .05em;
            }
            
            .button-plus-moins:active {
              background: var(--color);
              color: #fff;
            }
            
        }
    





  }
